<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="py-40 px-20">
    <h1 class="text-2xl mb-5">Welcome to blog API</h1>
    <!-- Add more HTML and EJS tags as needed -->

    <a
      href="/api/blog"
      class="border-2 px-3 py-1 rounded-lg border-indigo-500 text-lingo-500"
      >Get all posts - api/posts</a
    >
  </body>
</html>
